<h4>Ajouter un article</h4>
<form (ngSubmit)="addArticle()">
  <div class="mb-3">
    <label for="title">Titre :</label>
    <input type="text" id="title" name="title" [(ngModel)]="article.title">
  </div>
  <div class="mb-3">
    <label for="content">Contenu :</label>
    <textarea name="content" id="content" cols="60" rows="20" [(ngModel)]="article.content">Ajouter un article</textarea>
  </div>
  <div>
    <button class="btn btn-primary btn-lg">Ajouter</button>
  </div>
</form>