<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="topnav">
    <a routerLink="/" class="navbar-brand">Accueil</a>
    <a routerLink="/add-article" class="nav-link active" aria-current="page">Ajouter un article</a>
  </div>
</nav>

<div class="container">
  <div class="row my-3">
    <div class="col-xs-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<footer class="bg-light text-center text-lg-start">
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2022 Copyright
  </div>
</footer>