footer {

  background:#ccc;
  bottom:0;
  width:100%;
  padding-top:50px;
  height:50px;
  
  }
 
  .topnav a {
    float: left;
    color: #0b0000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
 