
<div class="container">
  <div class="row align-items-center">
    <div class="col-12">
      
        <div>
          <div class="card text-center ">
            <div class="card-header">
              Détail de l'article
            </div>
            <div class="card-body">
              <h5 class="card-title">{{article!.title}}</h5>
              <p class="card-text">{{article!.content}}</p>
            </div>
            <div class="card-footer text-muted">
              Crée le : {{article?.date|date}}
            </div>
          </div>
        </div>
      
    </div>
  </div>
</div>