label,
textarea {
  font-size: .8rem;
  letter-spacing: 1px;

}

textarea {

  text-align: justify;
  white-space: normal;
  padding: 10px;
  max-width: 100%;
  line-height: 1.5;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #999;

}

label,
input {
  display: block;
  margin-bottom: 10px;
}

button {
  float: right;
  margin: 2px;
}

h5 {
  color: rgba(82, 82, 231, 0.926);
}

.card {
  margin: 10px;
  text-align: justify;
  white-space: normal;
}