<div class="container-fluid">
  <div class="row g-2 my-2">
    <div *ngFor="let article of articles" class="card col-12 col-md-5">
      <div class="card-body">
        <h5 class="card-title">{{article.title}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">Crée le : {{article.date|date}}</h6>
        <p class="card-text">{{article.content}}.</p>
        <a href="/article/{{article.id}}" class="card-link">Détail</a>

        <div>
          <button class="btn btn-primary btn-lg" (click)="delete(article.id!)">Supprimer</button>
          <button class="btn btn-primary btn-lg" (click)="showEditForm(article)">Modifier</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="displayEditForm">
  <h4>Modification de l'article</h4>
  <form (ngSubmit)="update(modifiedAr)">
    <label for="label">Titre :</label>
    <input [(ngModel)]="modifiedAr.title" type="text" name="titre" id="titre">
    <label for="content">Content :</label>
    <textarea [(ngModel)]="modifiedAr.content" name="content" id="content" cols="60" rows="20">Modifier un Article</textarea>
    <div>
      <input class="btn btn-primary" type="submit" value="Enregister"/>
    </div>
  </form>
</div>